.active-workout-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.top-buttons, .bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.timer {
  text-align: center;
  font-size: 2rem;
  margin: 10px 0;
}

.exercise-info {
  text-align: center;
  margin-bottom: 20px;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inputs-container .planned {
  flex: 0 0 45%;
}

.inputs-container input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.end-btn {
  background-color: red;
  color: white;
}